.venv
Other
Computer_Vision/coco8
Computer_Vision/datasets
Computer_Vision/runs
Computer_Vision/Tests
smart_home_web/node_modules
smart_home_app/node_modules
Temp/RealTimeObjectDetection
env.py
Depricated
bus_system/frontend/node_modules
bus_system/frontend/.next
img360
ARCNCopy

clients/mobile/node_modules
clients/Expo/node_modules

AR_Cerebro/[Ll]ibrary/
AR_Cerebro/[Tt]emp/
AR_Cerebro/[Oo]bj/
AR_Cerebro/[Bb]uild/
AR_Cerebro/[Logs]/
AR_Cerebro/[MemoryCaptures]/
AR_Cerebro/*.7z
AR_Cerebro/*.zip

ar-nav-multiset/[Ll]ibrary/
ar-nav-multiset/[Tt]emp/
ar-nav-multiset/[Oo]bj/
ar-nav-multiset/[Bb]uild/
ar-nav-multiset/[Logs]/
ar-nav-multiset/[MemoryCaptures]/
ar-nav-multiset/*.7z
ar-nav-multiset/*.zip
ar-nav-multiset/Assets/MultiSet.7z

hololens2-campus-nav/[Ll]ibrary/
hololens2-campus-nav/[Tt]emp/
hololens2-campus-nav/[Oo]bj/
hololens2-campus-nav/[Bb]uild/
hololens2-campus-nav/[Logs]/
hololens2-campus-nav/[MemoryCaptures]/
hololens2-campus-nav/*.7z
hololens2-campus-nav/*.zip
hololens2-campus-nav/Assets/MultiSet.7z

# Python
__pycache__/
*.pyc
.pytest_cache/

# VSCode Local History
.history/

# KiCad backups
*-backup/
*.kicad_prl
*.autosave